<include file="Layout/header" />
<div class="admin">
    <div class="tab">
        <div class="tab-head">
            <ul class="tab-nav">
                <li class="active"><a href="#tab-base">添加友情链接</a></li>
            </ul>
        </div>
        <form method="post" class="form-x" action="{:U('System/editLink',array('id'=>$info['link_id']))}" enctype="multipart/form-data" >
            <div class="tab-body">
                <br />
                <div class="tab-panel active" id="tab-base">
                    <div class="form-group">
                        <div class="label">
                            <label for="link_name">网站名称</label>
                        </div>
                        <div class="field">
                            <input type="text" class="input" id="link_name" name="link_name" value="{$info.link_name}" size="50" placeholder="请填写网站名称" data-validate="required:请填写网站名称" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="label">
                            <label for="link_url">网站链接</label>
                        </div>
                        <div class="field">
                            <input type="text" class="input" id="link_url" name="link_url" value="{$info.link_url}" size="50" placeholder="请填写网站链接" data-validate="required:请填写网站链接" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="label">
                            <label for="link_logo">网站logo</label>
                        </div>
                        <div class="field">
                            <a class="button input-file" href="javascript:void(0);">+ 浏览文件<input size="100" type="file" id="link_logo" name="link_logo" data-validate="regexp#.+.(jpg|jpeg|png|gif)$:只能上传jpg|gif|png格式文件" /></a>
                            <notempty name="info.link_logo"><img src="__UPLOAD__/images/link/{$info.link_logo}" width="100" height="40"/></notempty>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="label">
                            <label>类型</label>
                        </div>
                        <div class="field">
                            <div class="button-group button-group-small radio">
                                <label class="button <if condition="$info.type eq 1">active</if>">
                                <input name="type" value="1" <if condition="$info.type eq 1">checked="checked" </if> type="radio"><span class="icon icon-check"></span>是</label>
                                <label class="button <if condition="$info.type eq 0">active</if>">
                                <input name="type" value="0" <if condition="$info.type eq 1">checked="checked" </if> type="radio"><span class="icon icon-times"></span>否</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="label">
                            <label>推荐</label>
                        </div>
                        <div class="field">
                            <div class="button-group button-group-small radio">
                                <label class="button <if condition="$info.link_recom eq 1">active</if>">
                                    <input name="link_recom" value="1" <if condition="$info.link_recom eq 1">checked="checked" </if> type="radio"><span class="icon icon-check"></span>是</label>
                                <label class="button <if condition="$info.link_recom eq 0">active</if>">
                                    <input name="link_recom" value="0" <if condition="$info.link_recom eq 1">checked="checked" </if> type="radio"><span class="icon icon-times"></span>否</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="label">
                            <label>排序</label>
                        </div>
                        <div class="field">
                            <input type="text" class="input" id="sort" name="sort" size="50" placeholder="0" value="{$info.sort}" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-button">
                <button class="button bg-main" type="submit">提交</button>
            </div>
        </form>
    </div>
</div>
<include file="Layout/footer" />