<include file="Layout/header" />
<div class="admin">
    <form method="post">
        <div class="panel admin-panel">
            <div class="panel-head"><strong>用户组列表</strong></div>
            <div class="padding border-bottom">
                <a href="{:U('Group/addGroup')}" class="button button-small border-green">添加用户组</a>
            </div>
            <table class="table table-hover">
                <tr>
                    <th>用户组名</th>
                    <th>操作</th>
                </tr>
                <foreach name="list" item="vo">
                    <tr>
                        <td>{$vo['title']}</td>
                        <td>
                            <a class="button border-blue button-little" href="{:U('User/editGroup',array('id'=>$vo['group_id']))}">修改</a>
                            <a class="button border-blue button-little" href="javascript:if(confirm('确定删除？'))location='{:U('User/dropGroup',array('id'=>$vo['group_id']))}'">删除</a>
                            <a class="button border-blue button-little" href="{:U('User/allocateRule',array('id'=>$vo['group_id']))}">分配权限</a>
                            <a class="button border-blue button-little" href="{:U('User/allocateUser',array('id'=>$vo['group_id']))}">添加成员</a>
                        </td>
                    </tr>
                </foreach>
            </table>
        </div>
    </form>
</div>
<include file="Layout/footer" />